@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    font-family: Nunito;
    font-weight: 500;
    background-color: rgb(235, 243, 255);
    user-select: none;
    -ms-overflow-style: none;  /* IE and Edge */
}

.body {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
}

.navbar {
    width: 100%;
    height: 10vh;
    background-color:rgb(51,55,119);
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 6;
}

.navbar_btns {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_h1 {
    padding: 0 3% 0 3%;
    color: white;
}

.navbar_btn {
    padding: 0.6% 1.6% 0.6% 1.6%;
    margin-right: 3%;
    border-radius: 50px;
    border: solid;
    border-color: rgb(112,146,191);
    background-color: rgb(74,102,172);
    color: white;
    text-decoration: none;
}

.navbar_btn:hover {
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in;
    background-color: #76a1ec;
    color: rgb(38,39,83);
    cursor: pointer;
}

.category {
    text-transform: capitalize;
    color: rgb(51,55,119);
    font-weight: 600;
    margin-left: 15%;
}

.img_container {
    width: 80%;
    margin: 5vh 0 5vh 10%;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    box-shadow: 2px 2px 10px #c1c1c1;
    border-radius: 50px;
}

.thumbnail {
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
}

.popup {
    position: fixed;
    height: 80vh;
    width: 60vh;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(51,55,119);
    border-radius: 50px;
    box-shadow: 2px 2px 10px #828282;
}

.form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    color: white;
}

.form h1 {
    margin: 0;
    font-size: 8vh;
}

.form label {
    position: relative;
    font-size: 4vh;
    height: 10%;
}

#username_input, #password_input, #file_upload, #category_select, #rename_input {
    margin: 5% 0 5% 0;
    padding: 1% 4% 1% 4%;
    border-radius: 10px;
    height: 5vh;
    width: 92%;
    font-size: 3vh;
    border: none;
}

#category_select {
    width: 100%;
}

#file_upload {
    position: relative;
    left: 50%;
    transform: translate(-30%, 0);
    height: 10vh;
}

#file_upload::file-selector-button {
    display: block;
    padding: 1% 4% 1% 4%;
    margin-bottom: 4%;
    border-radius: 50px;
    border: solid;
    border-color: rgb(112,146,191);
    background-color: rgb(74,102,172);
    color: white;
}

#file_upload::file-selector-button:hover {
    transition: background-color 0.2s, color 0.2s;
    transition-timing-function: ease-in;
    background-color: #76a1ec;
    color: rgb(38,39,83);
    cursor: pointer;
}

.submit_btn {
    margin-top: 7%;
    font-size: 4vh;
    padding: 5% 5% 5% 5%;
}

.image_name {
    color: white;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 10;
}

.open_image {
    position: fixed;
    height: 80vh;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(51,55,119);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #828282;
}

.container {
    position: relative;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 70%;
    margin: 0;
}

.about_img {
    height: 40%;
    width: 65%;
    object-fit: cover;
    object-position: 0% 100%;
}

.about_title {
    width: 65%;
    text-align: center;
    height: 10%;
    margin: 1.5% 0 0 0;
    color: rgb(38,39,83);
}

.about_paragraph {
    margin: 0;
    position: absolute;
    width: 65%;
    height: 45%;
    bottom: 0%;
}

.about_paragraph2 {
    position: absolute;
    font-size: 2.5vh;
    margin: 0;
    right: 0;
    top: 0;
    padding: 3% 3% 3% 3%;
    width: 27%;
    height: 100%;
    background-color: rgb(74,102,172);
}