<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <title>Photo Management App</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar_title">
      <h1 class="navbar_h1">Photo Management App</h1>
    </div>
    <div class="navbar_btns">
      <a class="navbar_btn" href="{{ url_for('index') }}">Home</a>
      <a class="navbar_btn" href="{{ url_for('about_me') }}">About Me</a>
      {% if session.get('logged_in') %}
        <a class="navbar_btn" id="upload_btn">Upload</a>
        <a class="navbar_btn" href="{{ url_for('signout') }}">Sign out</a>
      {% else %}
        <a class="navbar_btn" id="login_btn">Login</a>
      {% endif %}
    </div>
  </nav>
  <div class="body">
    {% block content %}{% endblock %}
  </div>
  {% if session.get('logged_in') %}
  <div class="popup" style="display: none;">
    <form class="form" method="POST" action="/upload" enctype="multipart/form-data">
      <h1>Upload</h1><br>
      <input type="file" name="image" accept="image/png, image/jpeg, image/jpg, image/gif" id="file_upload" required><br>
      <label for="category_select">Category:</label><br>
      <select name="category" id="category_select" required>
        <option value="" selected disabled style="display: none;">Choose a category</option>
        <option value="portrait">Portrait</option>
        <option value="nature">Nature</option>
        <option value="animals">Animals</option>
        <option value="technology">Technology</option>
        <option value="abstract">Abstract</option>
      </select><br>
      <label for="rename_input">Rename:</label><br>
      <input type="text" name="rename" id="rename_input" required><br>
      <input type="submit" class="navbar_btn submit_btn">
    </form>
  </div>
  {% else %}
  <div class="popup" style="display: none;">
    <form class="form" method="POST" action="/login">
      <h1>Login</h1><br><br>
      <label for="username_input">Username:</label><br>
      <input type="text" name="username" id="username_input" required><br>
      <label for="password_input">Password:</label><br>
      <input type="password" name="password" id="password_input" required><br>
      <input type="submit" class="navbar_btn submit_btn">
    </form>
  </div>
  {% endif %}
  <h3 class="image_name"></h3>
  <img class="open_image">
  <script>
    {% if session.get('logged_in') %}
      document.getElementById("upload_btn").addEventListener('click', function() {
        document.getElementsByClassName("popup")[0].style.display = "block";
      });
    {% else %}
      document.getElementById("login_btn").addEventListener('click', function() {
        document.getElementsByClassName("popup")[0].style.display = "block";
      });
    {% endif %}
    document.getElementsByClassName("body")[0].addEventListener('click', function() {
      // either login or upload (because both are never shown together)
      document.getElementsByClassName("popup")[0].style.display = "none";
      document.getElementsByClassName("form")[0].reset();
    });
  </script>
</body>
</html>