{% extends '_base.html' %}

{% block content %}
<div class="container">
    <img src="../static/img.jpg" class="about_img">
    <h3 class="about_title">About Me</h3>
    <p class="about_paragraph">Elon Musk, born on June 28, 1971, in Pretoria, South Africa, is a prominent entrepreneur, inventor, and business magnate renowned for his ambitious vision and groundbreaking contributions across multiple industries. Despite his controversial public presence, he has significantly impacted technology and entrepreneurship.</p>
    <p class="about_paragraph2">Owned businesses:<br>- Zip2<br>- PayPal<br>- SpaceX<br>- Tesla<br>- Neuralink<br>- The Boring Company<br>- Twitter<br>These ventures showcase Musk's broad interests and significant impact across multiple industries, including technology, space exploration, renewable energy, and artificial intelligence.</p>
</div>
{% endblock %}